# dependencies (bun install)
node_modules

# output
out
dist
*.tgz

# code coverage
coverage
*.lcov

# logs
logs

# .env
.env

# caches
.eslintcache
.cache
.alloy
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# generated LaunchAgent plist
deploy/*.plist
!deploy/*.plist.template
